/* footer {
    margin-top: -50px;
    height: 50px;
    background-color: #eee;
    z-index: 9999;
} */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* .footer .section {
    box-sizing: border-box;
} */

footer {
    /* display: grid; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    height: 100%;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 20px;
    /* place-items: center; 这个居中是grid的属性*/
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    background-color: #fff;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    /* 圆角 */
    font-family: 'Poppins', sans-serif;
}

footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer1-a {
    text-align: center;
    display: block;
    padding-bottom: 10px;
}

.footer2 {
    padding-top: 20px;
}

.footer2-a {
    text-align: center;
    display: block;
    /* align-items: center; */
    text-decoration: none;
    color: black
}

.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    /* float: left; */
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    /* 让图标出现点击指示 */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    /* 按钮阴影 */
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); */
    width: 200px;
    /* 按钮变长 */
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #347C17;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
    background: #04BE02;
}

.wrapper .button .icon i {
    font-size: 25px;
    /* 图标大小 */
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button a {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

a {
    text-decoration: none;
}

.wrapper .button:nth-child(1) a {
    color: #4267B2;
}

.wrapper .button:nth-child(2) a {
    color: #1DA1F2;
}

.wrapper .button:nth-child(3) a {
    color: #347C17;
}

.wrapper .button:nth-child(4) a {
    color: #333;
}

.wrapper .button:nth-child(5) a {
    color: #04BE02;
}