/* * {
	margin: 0;
	padding: 0;
	font-family: myfont;
} */

@font-face {
	font-family: myfont;
	src: url('../fonts/OPPOSans-H.ttf');
}

/* music {
	display: block;
	justify-content: center;
	水平居中
	align-items: center;
	垂直居中
} */

.music {
	/* position: absolute; */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	height: auto;
	z-index: -1;
	/* z-index: 10; */
	/* background: url(../pic/HomeSick.jpg); */
	filter: blur(100px);
	background-size: 100% auto;
	background-repeat: no-repeat;
	overflow: hidden;
}

.music img {
	position: absolute;
	width: 100%;
	height: auto;
}

.music-content {
	/* position: absolute; */
	position: relative;
	display: flex;
	/* left: 36%; */
	/* top: 20%; */
	/* 音乐部件位置定位 */
	width: 430px;
	height: 100px;
	/* width: auto;
	height: auto; */
	/* 这个设置可以让小部件的宽度高度是由各部件控制 */
	background: white;
	overflow: hidden;
	border-radius: 19px;
	/* 圆角 */
	margin: auto;
	/* 居中 */
}

.info {
	/* 对音乐小部件的上半部分 */
	width: 200px;
	height: 100px;
	margin: auto;
	/* margin-top: 40px;
	margin-bottom: 40px; */
	/*	background: #999;*/
	display: flex;
}

.info_left {
	/* width: 100px;
	height: 100px; */
	/* width: 100%; */
	height: 100%;
	/* background: skyblue; */
	/* float: left; */
	/* margin: auto; */
	/* padding-top: 20px; */
}

.info_left img {
	width: 80px;
	height: 80px;
	margin: 10px;
	/* margin-left: 15px; */
	border-radius: 6px;
	box-shadow: 2.5px 2.5px 5px #d9d9d9;
	/* 边框阴影 */
}

.info_right {
	/* width: 100px; */
	/* height: 100px; */
	/* background: orange; */
	/* float: right; */
	overflow: hidden;
	font-family: myfont;
	margin: auto;
}

.info_right_in {
	/* width: 95px;
	height: 85px; */
	width: auto;
	height: auto;
	/* padding-top: 0px; */

	/* padding-bottom: 5px; */
	/* background: red; */
	overflow: hidden;
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
	/* margin: auto; */
}

#song_name {
	width: 95px;
	white-space: normal;
	word-break: break-all;
	max-height: 60px;
	overflow: hidden;
	font-size: 16px;
	/* line-height: 30px; */
	/* padding-left: 5px; */
	/* padding-top: 15px; */
	/* background: gray; */
	margin: 0px;
}

#singer {
	width: 95px;
	overflow: hidden;
	max-height: 30px;
	font-size: 10px;
	line-height: 30px;
	/* 行高 */
	/* padding-left: 5px; */
	/*background: beige;*/
	margin: 0px;
}

.progress {
	/* width: 200px;
	height: 4px; */
	width: 4px;
	height: 80px;
	margin: auto;
	background: #f2f2f2;
	overflow: hidden;
	border-radius: 12px;
	align-items: center;
}

.progress_update {
	width: 0%;
	height: 100%;
	border-radius: 12px;
	background: #00e6aa;
}

.fi {
	margin: auto;
	width: 200px;
	height: 60px;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fi a {
	display: inline-block;
	text-align: center;
	line-height: 60px;
	width: 60px;
	height: 60px;
}

.fi a:nth-of-type(1) i {
	font-size: 30px;
	color: #bfbfbf;
	vertical-align: middle;
}

.fi a:nth-of-type(2) i {
	font-size: 60px;
	color: #bfbfbf;
	vertical-align: middle;
}

.fi a:nth-of-type(2) {
	display: none;
}

.fi a:nth-of-type(3) i {
	font-size: 60px;
	color: #00e6aa;
	vertical-align: middle;
}

.fi a:nth-of-type(4) i {
	font-size: 30px;
	color: #bfbfbf;
	vertical-align: middle;
}