show {
    margin: 40px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    /* 控制flex 元素堆叠方向 */
    /* flex-direction: column; */
    /* 直接排成一纵 */
    /* background: radial-gradient(#dce4e8, #b3bdad); */
    border-radius: 20px;
}

.card {
    position: relative;
    width: 700px;
    /* 设置卡片宽度 */
    height: 350px;
    /* 控制卡片高度 */
    border-radius: 20px;
    /* 向 div 元素添加圆角边框： */
    /* display: flex; */
    align-items: center;
    transition: 0.5s;
    /* background-color: white; */
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* 溢出部分隐藏 */
}

.card .circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: red; */
    background: #FDD017;
    clip-path: circle(150px at center);
    /* 在中心开始切割:改圆的大小 */
    border-radius: 20px;
    transition: 0.5s;
}

.card:hover .circle::before {
    clip-path: circle(400px at center);
    /* 变大还是圆，但才card上有限制（350px）超出部分隐藏 */
    background: #0065c3;
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    /* 以上三个参数调整图片在中心 */
    transform: translate(-50%, -50%);
    width: auto;
    height: 90%;
    /* 这里才是控制图片大小 */
    pointer-events: none;
    transition: 0.5s;
    border-radius: 6px;
}

.card:hover img {
    left: 72%;
    /* 图片往左偏 */
    height: 100%;
    /* 图片放大 */
}

.card .show-content {
    position: relative;
    width: 50%;
    padding: 20px 20px 20px 40px;
    transition: 0.3s;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    /* 规定元素是否可见：元素是不可见的 */
}

.card:hover .show-content {
    left: 0;
    opacity: 1;
    visibility: visible;
    /* 规定元素是否可见：默认值（可见） */
}

.card .show-content h2 {
    color: white;
    text-transform: uppercase;
    /* 控制文本的大小写:定义仅有大写字母 */
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 7px;
}

.card .show-content p {
    color: white;
}

.card .show-content a {
    position: relative;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    /* cursor: pointer; */
}

/* 截止目前，以上基本实现效果 */

.card:nth-child(2):hover .circle::before {
    /* 选择器，选择第二个元素（卡） */
    clip-path: circle(400px at center);
    background: rgba(57, 81, 137, 0.939);
}

.card:nth-child(3):hover .circle::before {
    /* 选择器，选择第三个元素（卡） */
    clip-path: circle(400px at center);
    background: rgba(84, 41, 125, 0.939);
}

/* 接下来媒体查询 */
@media(max-width:991px) {

    /* 当屏幕宽度小于991px时,做以下修改 */
    .card {
        width: 284px;
        /* width: auto; */
        max-width: 400px;
        align-items: flex-start;
        /* flex-direction: column; */
        margin: 13px;
    }

    .card .circle::before {
        clip-path: circle(130px at center);
        /* 在中心开始切割:改圆的大小 */
    }

    .card:hover {
        height: 500px;
    }

    .card .show-content {
        width: 100%;
        left: 0;
        padding: 30px;
    }

    .card:hover img {
        top: 70%;
        left: 50%;
        height: 300px;
    }
}

@media(max-width:420px) {
    .card .show-content {
        padding-inline-start: 20px;
    }
}